{% verbatim %}
<form>
    <label for="AO_City_ID">Ao City Id</label><input type="text" name="AO_City_ID" value="{{AO_City_ID}}" id="AO_City_ID" />
    <br class="clear" />
    <label for="AO_City">Ao City</label><input type="text" name="AO_City" value="{{AO_City}}" id="AO_City" />
    <br class="clear" />
    <label for="aktiv">Aktiv</label><input type="text" name="aktiv" value="{{aktiv}}" id="aktiv" />
    <br class="clear" />
    <label for="bettensteuer">Bettensteuer</label><input type="text" name="bettensteuer" value="{{bettensteuer}}" id="bettensteuer" />
    <br class="clear" />
    <label for="region">Region</label><input type="text" name="region" value="{{region}}" id="region" />
    <br class="clear" />
</form>
{% endverbatim %}